<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="log.dir" value="./logs"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/myapp.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/myapp-%d{yyyy-MM-dd_HH}-%i.log</fileNamePattern>
            <totalSizeCap>100MB</totalSizeCap>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

    <!-- Reduce DB startup chatter -->
    <logger name="org.hibernate" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>

    <!--- Spring boot has a lot of startup noise as well -->
    <logger name="org.springframework" level="WARN"/>

    <!-- Increase verbosity for local classes during testing -->
    <logger name="edu.carroll.cs389" level="DEBUG"/>

    <!-- Default level is INFO -->
    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>
</configuration>
