.slider {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
}

body {
    background-color: #f2f2f2;
}

.container {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    padding-top: 20px;
    background-color: white;


}

nav {
    margin-bottom: 20px;
}

.slider-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slide img {
    max-width: 100%;
    max-height: 100%;
}

.slider-prev,
.slider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
}

.slider-prev {
    left: 0;
}

.slider-next {
    right: 0;
}